= link_to_unless_current '時間別', admins_reservations_path
= link_to_unless_current '講師別', by_teacher_admins_reservations_path({span: 'monthly'})
= link_to_unless_current '言語別', by_language_admins_reservations_path({span: 'monthly'})
