- if student_signed_in?
  = button_to 'ログアウト', destroy_student_session_path, method: :delete
  = link_to 'チケットの確認、購入', new_tickets_students_path
- else
  = link_to 'ログイン', new_student_session_path
  = link_to 'サインアップ', new_student_registration_path
